$mainBG: rgb(27, 26, 23);
$transparentBG: rgba(7, 7, 7, 0.89);
$lightBG: rgb(36, 35, 32);
$markColorHover: rgb(163, 87, 9);
$markColor: rgb(255, 131, 3);
$mainTextColor: rgb(240, 227, 202);

$transition: 0.16s;
$opacity: 0.85;
